
{:source-paths ["src"]
 :dependencies [[org.clojure/core.match "0.3.0"]]
 :dev-http {7000 "target/"}
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:init-fn mylib.main/main!}}
                :devtools {:after-load mylib.main/reload!}}}}
